:root {

    /* Spacing */

    --space-100: 8px;
    --space-200: 16px;
    --space-300: 24px;
    --space-400: 32px;
    --space-700: 56px;
    --space-1000: 80px;
    --space-1300: 104px;
    --space-1600: 128px;
    --space-2000: 160px;
    --space-2200: 160px;
    --space-2300: 184px;

    /* Colors */

    --white: #FFFFFF;
    --black: #000000;
    --grey-200: #E6E5EA;
    --grey-600: #817D92;
    --grey-700: #54535B;
    --grey-800: #24232C;
    --grey-850: #18171F;
    --grey-900: #14131B;
    --grey-950: #08070B;
    --green-200: #A4FFAF;
    --yellow-300: #F8CD65;
    --orange-400: #FB7C58;
    --red-500: #F64A4A;
    --gradient-1: linear-gradient(#14131B, #08070B);

}

*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "jetBrainsBold";
    src: url("assets/fonts/static/JetBrainsMono-Bold.ttf");
}

img {
    max-width: 100%;
}

body {
    font-family: "jetBrainsBold", sans-serif;
    background-color: var(--grey-900);
    margin: 0;
    min-height: 100vh;
    
}

header {
    padding: 3rem 0 .25rem;
    text-align: center;
    
}

main {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1.5rem;
}

#output-container {
    background-color: var(--grey-800);
    color: var(--grey-600);
    font-family: inherit;
    padding: 1.5rem;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#copy:hover {
    cursor: pointer;
}

#copy:active {
    filter: brightness(0) invert(1);  
}

#copy-container {
    display: flex;
    align-items: center;
    gap: .8rem;
}

#copied {
    color: var(--green-200);
    font-size: 16px;
}

#password-active {
    color: var(--grey-200);
}

#char-label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#char-range {
    cursor: pointer;
    accent-color: var(--grey-200);
    
}

#char-range:active {
    accent-color: var(--green-200);
    
}



#range-text {
    display: flex;
    justify-content: space-between;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding: 0;
    margin: 0;
}

input[type="checkbox"] {
    accent-color: var(--green-200);
    cursor: pointer;
}

#form {
    background-color: var(--grey-800);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

#strength-container {
    background-color: var(--grey-900);
    padding: 0 1rem;
    display: flex; 
    justify-content: space-between;
}

#bars {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.bars {
    height: 1.75rem;
    width: .65rem;
    outline: 1px solid white;
}

#generate-btn {
    font-family: inherit;
    font-size: 18px;
    padding: 1rem;
    border: none;
    background-color: var(--green-200);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
}
/* Typography */

h1 {
    color: var(--grey-600);
    font-size: 18px;
}

label {
    color: var(--grey-200);
}

#char-count {
    color: var(--green-200);
    font-size: 18px;
}

#strength-container p {
    color: var(--grey-600);
}

#strength-text {
    margin-right: .5rem;
    color: var(--white);
    font-size: 18px;

}

@media (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header {
        padding: 0;
    }

    main {
        width: 60%;
        max-width: 550px;
        
    }

    
}